@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap");

body {
  margin: 0 auto;
  padding: 0;
  /* width: 90%; */
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  background-color: #1f2937;
  padding: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3em;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.hero {
  display: flex;
  padding: 80px;
  margin: 50px;
  gap: 2rem;
  width: 70%;
  margin: 0 auto;
  /* height: 200px; */
}

.text {
  flex: 1;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text h1 {
  margin: 0;
  margin-bottom: -0.3em;
}

.hero .text p {
  font-style: italic;
}

.img {
  flex: 1;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 150px 0px;
}

.text button {
  width: 7rem;
  padding: 7px;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: #3882f6;
  color: white;
}

/* FRAMES SECTION */
.frame-section h2 {
  font-size: 1.8rem;
  font-weight: 900;
}

.frame-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.frames {
  display: flex;
  margin-top: 20px;
  gap: 40px;
}

.frame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-top: 1.8em; */
  flex: 1;
}

.frame {
  border: 3.5px #3882f6 solid;
  padding: 3.7rem;
  border-radius: 10%;
}

/* Quote Section */
.quote-section {
  margin: 0 auto;
  height: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  background-color: #e5e7eb;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.quote-container .author {
  display: flex;
  justify-content: end;
  font-weight: 700;
  margin: -10px;
}

.quote-section .quote {
  font-style: italic;
  font-size: 30px;
  width: 100%;
}

/* Call To Action Section */
.CTA-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.4rem;
  color: white;
}

.cta-container {
  padding: 0;
  background-color: #3882f6;
  padding: 2rem;
  border-radius: 0.4rem;
  display: flex;
  width: 90%;
}

.cta-container .text h3 {
  margin: 0px;
}

.cta-container .text p {
  margin: 0;
  font-weight: 100;
  font-size: 18px;
}

.cta-container .text {
  flex: 2;
  margin: 0;
}

.cta-container .button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-container button {
  padding: 0.3rem 2rem;
  background: none;
  border: 2px white solid;
  border-radius: 5px;
  color: white;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 2rem;
}
