@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");

body {
  margin: 0 auto;
  padding: 0;
  /* width: 90%; */
  font-family: "Roboto", sans-serif;
  color: white;
}

header {
  background-color: #1f2937;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3em;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.hero {
  display: flex;
  padding: 80px;
  margin: 50px;
  gap: 2rem;
  width: 70%;
  margin: 0 auto;
  /* height: 200px; */
}

.text {
  flex: 1;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  margin-bottom: -0.5em;
}

.text p {
  font-style: italic;
}

.img {
  flex: 1;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 150px 0px;
}

button {
  width: 7rem;
  padding: 7px;
  border-radius: 7px;
  border: none;
  background-color: #3882f6;
  color: white;
}
